<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798212628790-il7t40v0tch34oq4dar4rgf0klh7h0qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798212628790-il7t40v0tch34oq4dar4rgf0klh7h0qk</string>
	<key>API_KEY</key>
	<string>AIzaSyA4PjGvizveKfHwVBT_YJTMjVD3D7oOn7w</string>
	<key>GCM_SENDER_ID</key>
	<string>798212628790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reditClone</string>
	<key>PROJECT_ID</key>
	<string>redditclone-f3a68</string>
	<key>STORAGE_BUCKET</key>
	<string>redditclone-f3a68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798212628790:ios:f5847a907ca4cea0931397</string>
</dict>
</plist>